header>section {
    align-items: flex-start;
    text-align: center;
    height: 11vh;
}
/* header div {
    height: 11vh; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */



.logoSlogan {
    background-color: peru;
    height: 11vh;
    width: 100vh;
    text-align: center;
}
.logoRedirection {
    background-color: pink;
    height: 11vh;
    width: 100vh;
    justify-content: space-between;
}

h1 {
    background-color: slateblue;
    font-size: medium;
}

.searchBar {
    background-color: seagreen;
    width: 100vh;
}

/*########################### NAV #######################*/
nav {
    display: flex; 
    align-items: flex-end; 
    background-color: orangered;
    height: 11vh;
}

nav>ul {
    background-color: palegreen;
    justify-content: center;
}

nav>ul>li {
    background-color: olive;
    display: inline;
}

li {
    list-style: none;
}