/* ########################## HEADER ############################# */
header {
  background-color: red;
  height: 33vh;
  display: flex;
  
}

.logoSlogan {
    background-color: hotpink;
    /* justify-content: space-between; */
}

nav {
    background-color: indigo;
    align-items: flex-end;

}

li {
    list-style: none;
}
/* ########################## MAIN ############################# */
main {
    background-color: greenyellow;
    width: 80%;
    display: flex;
}


/* ########################## FOOTER ############################# */
footer {
    background-color: dodgerblue;
}


/*
header section {
  justify-content: space-around;
  align-items: center;
}

header section h1 {
  font-size: 1em;
  text-align: center;
}
section {
  background-color: darkkhaki;
   
}

img {
  height: 40px;
} 

.homeLogo {
  background-color: darkgreen;
  width: 50%;
  
}
.logoheader{
  width: 50%;
  justify-content: space-around;
}
.logoheader img {
  background-color: darkcyan;
  
}

.searchBar {
  background-color: chartreuse;
  /* align-items: center; 
}

nav {
  display: flex;
  background-color: blue;
}*/
header nav ul li {
    justify-content: space-around;
}

